.listinbtn{
  margin-top: 30px;
  margin-left: 30px;
}
.listinbtn2{
  margin-top: 30px;
  margin-left: 10px;
}
th{
  text-align: left;
}
td{
  text-align: left;
}
.top1{
  float: left;
}
a{
  color: #000000;
}
