.tab-content{
  border-left:1px solid rgb(4, 105, 147);
  border-bottom: 1px solid rgb(4, 105, 147);
  border-right: 1px solid rgb(4, 105, 147);
  padding: 20px;
  /* border-radius: 5px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*div.circle{
  border: 1px solid rgb(4, 105, 147);
}*/

div.circle{
  width: 200px;
  height: 200px;
  border: 1px solid rgb(27, 138, 99);
  border-radius: 100px;
}

#myTab i{
  display: none;
}
